{% extends "layout/base.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}Reset your password{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% blocktrans %}Reset your password{% endblocktrans %}</h1>

{% if user.is_anonymous %}
        <table class="two_sides">
            <tr>
                <td class="left_side">
                {% blocktrans %}To reset your password, fill in the form with the email you provided when you registered.{% endblocktrans %}
                </td>
                <td class="right_side">
                    <form method="post" action="">
                    {{ form.as_block }}
                    <br/>
                    <input class="high_button" type="submit" value="{% blocktrans %}Send{% endblocktrans %}" />
                    </form>                
                    
                </td>
            </tr>
        </table>

{% else %}
{% blocktrans %}You're already logged-in, use the 'profile' button to change your password.{% endblocktrans %}
{% endif %}
 
{% endblock %}