<link rel="stylesheet" type="text/css" href="/site_media/lib/ext/resources/css/ext-all.css" />

<link rel="stylesheet" type="text/css" href="/site_media/lib/extextension/MultiselectItemSelector-3.0/Multiselect.css" />

<script type="text/javascript" src="/site_media/lib/ext/adapter/yui/yui-utilities.js"></script>
<script type="text/javascript" src="/site_media/lib/ext/adapter/yui/ext-yui-adapter.js"></script>
<script type="text/javascript" src="/site_media/lib/ext/ext-all{{ EXT_EXTENSION }}.js"></script>

<script type="text/javascript" src="/site_media/lib/extextension/MultiselectItemSelector-3.0/Multiselect.js"></script>
<script type="text/javascript" src="/site_media/lib/extextension/MultiselectItemSelector-3.0/DDView.js"></script>
