<!-- Skin CSS file -->
<link rel="stylesheet" type="text/css" href="{{ YAHOO_BASE_URL }}/build/assets/skins/sam/skin.css" />
<link rel="stylesheet" type="text/css" href="{{ YAHOO_BASE_URL }}/build/button/assets/skins/sam/button.css" />
<link rel="stylesheet" type="text/css" href="{{ YAHOO_BASE_URL }}/build/menu/assets/menu.css" /> 
<link rel="stylesheet" type="text/css" href="{{ YAHOO_BASE_URL }}/build/calendar/assets/skins/sam/calendar.css"/> 

<link rel="stylesheet" type="text/css" href="{{ YAHOO_BASE_URL }}/build/container/assets/container.css"/>

<!-- included via ext/adapter/yui/yui-utilities.js
<script type="text/javascript" src="{{ YAHOO_BASE_URL }}/build/yahoo/yahoo{{ YAHOO_EXTENSION }}.js"></script>    
<script type="text/javascript" src="{{ YAHOO_BASE_URL }}/build/dom/dom{{ YAHOO_EXTENSION }}.js" ></script>
<script type="text/javascript" src="{{ YAHOO_BASE_URL }}/build/event/event{{ YAHOO_EXTENSION }}.js" ></script>
<script type="text/javascript" src="{{ YAHOO_BASE_URL }}/build/element/element-beta{{ YAHOO_EXTENSION }}.js"></script>     
 -->
<script type="text/javascript" src="{{ YAHOO_BASE_URL }}/build/container/container{{ YAHOO_EXTENSION }}.js"></script> 
<script type="text/javascript" src="{{ YAHOO_BASE_URL }}/build/menu/menu{{ YAHOO_EXTENSION }}.js"></script> 
<script type="text/javascript" src="{{ YAHOO_BASE_URL }}/build/calendar/calendar{{ YAHOO_EXTENSION }}.js"></script> 

<script type="text/javascript" src="{{ YAHOO_BASE_URL }}/build/button/button{{ YAHOO_EXTENSION }}.js"></script>

